:root{
  --orange: #E67631;
  --blue: #152B4D;
  --white: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Maven+Pro:wght@500&family=Zilla+Slab&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body, html{
  height: 100%;
}

/*CABEÇALHO*/
.navbar{
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
}
.navbar a{
  font-family: 'Maven Pro', sans-serif;
  float: left;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  padding: 12px; 
}
.navbar .logo{
  height: 65px;
  border-radius: 50%;
}
.navbar-right a:hover{
  color: var(--orange);
}
.navbar-right a.active{
  color: var(--white);
}
.navbar-right a{
  transition: color 0.5s ease;
}
.navbar-right{
  float: right;
}
.navbar-icon{
  display: none;
}

/*CONTEÚDO PRINCIPAL*/
.slideshow-container{
  position: relative;
  height: 100%;
}
.slide-item{
  display: none;
}
.bgimg{
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg::after{
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(21, 43, 77, 0.600);
}
.caption{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 9;
}
.caption h2{
  font-family: 'Courier Prime', monospace;
  color: var(--orange);
  margin-bottom: 5%;
  text-transform: uppercase;
  font-size: 75px;
}
.caption p{
  font-family: 'Zilla Slab', serif;
  color: var(--white);
  font-size: 21px;
}
.caption button{
  font-family: 'Maven Pro', sans-serif;
  background-color: var(--blue);
  border: 2px solid var(--white);
  color: var(--white);
  padding: 10px 40px;
  font-size: 14px;
  font-weight: bold; 
  text-transform: uppercase;
  border-radius: 16px; 
  margin-top: 30px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.caption button:hover{
  cursor: pointer;
  color: var(--blue);
  background-color: var(--white);
}
.caption button:focus{
  outline: none;
}

/*CONTROLE DOS SLIDES*/
.dot{
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0px 2px;
  background-color: var(--white);
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.6s ease, height 0.6s;
}
.slide-control{
  position: absolute;
  left: 30px;
  top: 50%;
  width: 10px;
  text-align: center;
}
.dot:hover{
  background-color: var(--blue);
}
.dot.active{
  background-color: var(--orange);
  height: 60px;
}

/*ANIMAÇÃO FADE*/
.fade{
  animation-name: fade;
  animation-duration: 1.0s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
}
@-webkit-keyframes fade{
  from{
    opacity: .4
  }
  to{
    opacity: 1
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 10px;
  }
  .navbar .menu{
    display: none;
  }
  .navbar .icon{
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
  }
  .navbar.show{
    background: var(--blue);
  }
  .navbar.show .menu a{
    width: 100%; 
  }
}